<h1>Ajoutez un article</h1>

<form action="/add_post" method="post" enctype="multipart/form-data">

    <label>Titre de l'article</label>
    <input type="text" name="title">
    <label>Contenu de l'article</label>
    <textarea name="content" ></textarea>
    <input type="file" name="image">
    <label>Catégorie</label>
    <input type="text" name="category">

    <input type="submit" name="Publier">

</form>